tensorflow==1.15.0
tensorflow-gpu==1.15
umap-learn
visdom
webrtcvad
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
multiprocess
numba==0.48
flask
gunicorn
gevent
boto3
gast==0.2.2